<section id="services">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Services</h2>
            </div>
        </div>
        <div class="row text-center">
          <h3 class="service-heading">Detail</h3>
          {{ range .Site.Data.services.detail }}
          <div class="col-md-4">
              <h4 class="service-heading">{{ .title }}</h4>
              <h5 class="section-subheading text-muted">Price: {{ .price }} / Time: {{ .time }}</h5>
              <ul class="list-unstyled">
              {{ range .includes }}
                <li class="text-capitalize">{{.}}</li>
              {{end}}
              <ul>
          </div>
          {{end}}
        </div>
        <div class="row text-center">
          <h3 class="service-heading">Add-Ons</h3>
          {{ range .Site.Data.services.addon }}
          <div class="col-md-12">
              <h5 class="section-subheading text-muted">{{ .title }} - {{ .price }}</h5>
          </div>
          {{end}}
        </div>
        <div class="row text-center">
          <h3 class="service-heading">PlastiDip</h3>
          {{ range .Site.Data.services.plastidip }}
          <div class="col-md-12">
              <h5 class="section-subheading text-muted">{{ .title }} - {{ .price }}</h5>
          </div>
          {{end}}
        </div>

    </div>
</section>
